<fieldset class="design">
  <include
    src="./collapsable.html"
    icon="fa-object-ungroup"
    title="Diseña"
  ></include>

  <div class="page-wrapper design__container">
    <legend class="design__title">Colores</legend>

    <div class="design__wrapper--pallets">
      <div class="design__palette--one">
        <div class="label-grid">
          <label for="palette-one"></label>
          <input
            id="palette-one"
            type="radio"
            value="palette-one"
            name="pallets"/>
        </div>
        <div class="design__wrapper-palette">
          <div class="box-design design__palette--one-color-one"></div>
          <div class="box-design design__palette--one-color-two"></div>
          <div class="box-design design__palette--one-color-three"></div>
        </div>
      </div>

      <div class="design__palette--two">
        <label for="palette-two">
          <input
            id="palette-two"
            type="radio"
            value="palette-two"
            name="pallets"
          />
          <div class="design__wrapper-palette">
            <div class="box-design design__palette--two-color-one"></div>
            <div class="box-design design__palette--two-color-two"></div>
            <div class="box-design design__palette--two-color-three"></div>
          </div>
        </label>
      </div>

      <div class="design__palette--three">
        <label for="palette-three">
          <input
            id="palette-three"
            type="radio"
            value="palette-three"
            name="pallets"
          />
          <div class="design__wrapper-palette">
            <div class="box-design design__palette--three-color-one"></div>
            <div class="box-design design__palette--three-color-two"></div>
            <div class="box-design design__palette--three-color-three"></div>
          </div>
        </label>
      </div>
    </div>
  </div>
</fieldset>
