<section class="preview">
  <div class="preview__button">
    <i class="far fa-trash-alt""></i>
      <p class=" preview__button--reset">Reset</p>
  </div>

  <div class="preview__card">
    <div class="preview__card--description">
      <div class="preview__card--bullet"></div>
      <div class="preview__card--title">
        <h2 class="preview__card--name">Nombre Apellido</h2>
        <h3 class="preview__card--job">Front-end developer</h3>
      </div>
    </div>

    <img src="./assets/images/img_girl.jpg" alt="Foto de la tarjeta" class="preview__photo" />

    <ul class="preview__rrss">
      <li class="preview__rrss--phone preview__rrss--item">
        <a href="" class="preview__rrss--link">
        <i class="fas fa-mobile-alt"></i>
      </a>
      </li>
      <li class="preview__rrss--item preview__rrss--email">
        <a href="" class="preview__rrss--link">
          <i class="far fa-envelope"></i>
        </a>
      </li>
      <li class="preview__rrss--item preview__rrss--linkdin"><a href="" class="preview__rrss--link"><i class="fab fa-linkedin-in"></i></a></li>
      <li class="preview__rrss--item previe$primary-color-altw__rrss--github"><a href="" class="preview__rrss--link"><i
            class="fab fa-github-alt"></i></a></li>
    </ul>
  </div>
  </div>
</section>