<section>
  <div>
    <div>
      <i class="icon fas fa-share-alt"></i>
      <h2>comparte</h2>
    </div>
    <img src="./assets/images/ico-arrow.svg" alt="" />
    <button class="button__create">
      <i class="far fa-address-card"></i>crear tarjeta
    </button>
  </div>

  <div>
    <h2>la tarjeta ha sido creada</h2>
    <a href="#">https://awesome-profile-card.com?id=A456DF0001 </a>

    <button>
      <a href="#" target="_blank">
        <i class="fab fa-twitter"></i>compartir en twitter</a
      >
    </button>
  </div>
</section>
