//Colors
$black: #000000;
$gun-metal: #54585a;
$dark-green-blue: #114e4e;
$dirty-blue: #438792;
$hospital-green: #a2deaf;
$light-khaki: #f9f4dc;
$white: #fff;
$dull: #e17334;
$pinkish-grey: #c5c5c5;

$primary-color: $gun-metal;
$primary-color-alt: $dark-green-blue;
$icon-color: $dull;
$border-form: $hospital-green;
$text-form-color: $pinkish-grey;

//fonts
$title-principal: "Merriweather", serif;
$title-font: "Montserrat", sans-serif;
$body-font: "Open Sans", sans-serif;
