.header {
  display: flex;
  justify-content: center;

  margin-bottom: 35px;

  &__image--index {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    @include tablet {
      width: 201px;
    }
  }
}

header {
  margin: 30px auto 30px auto;
}

.header__profile-cards {
  @include tablet {
    justify-content: left;
    padding-left: 40px;
  }
}
